language: python
dist: xenial
sudo: false
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
  - "pypy"
  - "pypy3"

install:
  - pip install -r requirements.txt
  - pip install -r requirements.dev.txt

script:
  - nosetests --with-coverage --cover-package gixy -v
  - if [[ $TRAVIS_PYTHON_VERSION != '2.6' ]]; then flake8 --max-line-length=120 setup.py gixy; fi
